$font-family: "Roboto", arial, sans-serif;
$base-text-color: rgba(255, 255, 255, 1);
$base-text-color-dark: rgba(0, 0, 0, 1);
$base-text-muted-color: rgba(255, 255, 255, 0.75);
$base-bg-color: rgba(255, 255, 255, 1);
$base-border-color: rgba(0, 0, 0, 0.15);
$base-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
$bg-top: #5983C1;
$bg-bottom: #304A70;
$bg-gradient: linear-gradient(360deg, $bg-top 0%, $bg-bottom 100%);
$bg-overlay: rgba(0, 0, 0, 0.48);
$border-radius: 4px;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 24px;
$space-6: 32px;
$input-max-width: 1000px;
$input-height: 56px;
$text-color-1: rgba(113, 113, 113, 1);
$text-color-2: rgba(0, 0, 0, 0.55);
$border-color-1: rgba(217, 217, 217, 1);
$border-color-2: rgba(0, 0, 0, 0.4);
$bg-color-1: rgba(255, 255, 255, 0.08);